[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
requests = "*"
flask-login = "*"
werkzeug = "*"
wtforms = "*"
pymongo = "*"
flask-sqlalchemy = "*"
email-validator = "*"
pandas = "*"
bson = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.9"
